@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HankenGrotesk;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
      format("truetype") tech("variations"),
    url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
}

body {
  font-family: HankenGrotesk;
}
